# TODO List

1. watch this video:

https://www.youtube.com/watch?v=OAx_6-wdslM

think tank: what is a computer? 
https://en.wikipedia.org/wiki/Alan_Turing

2. review: vaiable and function

3. use jupyter notebook as a math calculator

https://www.tutorialspoint.com/python/python_numbers.htm

4. lab session

Questions: trello? anaconda? other?

In [2]:
students = []
name = 'Ivy'
# type(student_name)
# id(student_name)
students.append(name)

In [3]:
students

['Ivy']

In [4]:
name = 'Alan'
students.append(name)
name = 'Mary'
students.append(name)
name = 'Isabel'
students.append(name)
name = 'Alex'
students.append(name)
name = 'Dennis'
students.append(name)
name = 'Melissa'
students.append(name)
name = 'keyon'
students.append(name)
name = 'AlanS'
students.append(name)

In [5]:
students

['Ivy',
 'Alan',
 'Mary',
 'Isabel',
 'Alex',
 'Dennis',
 'Melissa',
 'keyon',
 'AlanS']

In [14]:
from random import choice

def pick_a_name(names):
    return choice(names)

pick_a_name(students)

'Dennis'

In [13]:
choice(['ivy', 'charlie'])

'charlie'

In [24]:
pick_a_name(students)

'AlanS'

In [25]:
2**3

8

In [26]:
2**100

1267650600228229401496703205376

In [ ]:
10000001

In [31]:
('abc'*3)[::-1]

'cbacbacba'