In [ ]:
numbers = input()

In [ ]:
print(numbers)

In [ ]:
print(type(numbers))

In [ ]:
print('pls enter your answer:')
input()

In [6]:
3*(9-2+1)

24

In [7]:
import random

In [60]:
number1 = random.randint(1,9)
number2 = random.randint(1,9)
number3 = random.randint(1,9)
number4 = random.randint(1,9)
print(number1)
print(number2)
print(number3)
print(number4)

9
9
2
3

In [63]:
9*2+9-3

24

In [4]:
print('pls enter your numbers:')

numbers = input()

print('pls enter your answer:')

answer = input()

pls enter your numbers:
3,2,4,1
pls enter your answer:
3*2*4*1

In [5]:
3*2*4*1

24

In [1]:
(4*5+4)**1

24

In [ ]:
a_str1 = 'haha'
a_str2 = "haha2"
a_str3 = '''haha3'''
a_str1 = 5
print(type(a_str1))
print(type(a_str2))
print(type(a_str3))

In [ ]:
a_num = 9.0
print(type(a_num))

In [ ]:
a_bool = True
another_bool = False
45 == 40 + 4

In [ ]:
45 == 5*9

In [ ]:
my_name = 'Will'
my_age = 10
my_grade = 4

intro_message = """
my name is {},
my age is {},
and I am grade {} student.
"""

print(intro_message.format(my_name, my_age, my_grade))

In [ ]:
def print_self_intro(name, age, grade):
    intro_message = """
my name is {},
my age is {},
and I am grade {} student.
"""
    print(intro_message.format(name, age, grade))

In [ ]:
print_self_intro('Mike', 10, 4)
print_self_intro('Jow', 11, 5)
print_self_intro('May', 9, 3)

In [ ]:
print('my name is: charlie')

In [ ]:
var1 = 8
var2 = 8.0
var3 = '8'
var1 = 'gjgjhfhgfhgfhg9'

In [ ]:
type(var1)

In [ ]:
var1 = 8
var2 = 8.0
var3 = '8'

In [ ]:
str1 = 'hkjhjk'
str2 = "fyujgjh"
str3 = """gjhgjhh"""
str4 = '''khjkhjkhjk'''
str5 = """
i am your
    teacher.

"""

In [ ]:
print(str5)

In [ ]:
var7 = 9.9
type(var7)

In [ ]:
type(var1)

In [ ]:
my_dna = 'attgcattgccc'

In [ ]:
print('hello')
for i in range(5):
    print(i)
print('hello')

In [ ]:
4,5,4,1

In [ ]:
for m in range(10):
    print(m)

In [ ]:
print('hello python!!!')

In [ ]:
name = 'sun, qiang'
phone = '240-516-8618'
email = 'qqss88@gmail.com'

message = """
Name: {}
Email: {}
Phone: {}
"""
print(message.format(name, email, phone))

In [ ]:
9*999*278

In [ ]:
_m = input('message:')
while _m == 'hi':
   _m = input('message')

In [ ]:
import webbrowser

# generate an URL
class_url = 'https://trello.com/b/cM12KHBy/mypythonclass'
webbrowser.open(class_url)

In [ ]:
from IPython.display import YouTubeVideo
# a talk about IPython at Sage Days at U. Washington, Seattle.
# Video credit: William Stein.
YouTubeVideo('g-Nz6c_D_E8')