In [8]:
print 'pls enter your search word:'
word = raw_input()

count = 0
with open('song.txt') as song:
    for line in song:
        count += line.count(word)
print count
    #print song

would
6

In [11]:
import pandas as pd
df2 = pd.DataFrame({'X' : ['X1', 'X1', 'X1', 'X1'],
                    'Y' : ['Y2','Y1','Y1','Y1'], 
                    'Z' : ['Z3','Z1','Z1','Z2']})
df2

    X   Y   Z
0  X1  Y2  Z3
1  X1  Y1  Z1
2  X1  Y1  Z1
3  X1  Y1  Z2

In [14]:
df2.pivot_table(values='X', rows='Y', cols='Z', 
                aggfunc=lambda x: len(x.unique()))

TypeError: pivot_table() got an unexpected keyword argument 'rows'

In [15]:
df2.pivot_table(values='X',rows=['Y','Z'],cols='X',aggfunc='count')

TypeError: pivot_table() got an unexpected keyword argument 'rows'

In [20]:
import numpy

for xval, xgroup in df2['X']:
    ptable = pd.pivot_table(xgroup, rows='Y', cols='Z', 
        margins=False, aggfunc=numpy.size)

TypeError: pivot_table() got an unexpected keyword argument 'rows'

In [1]:
print 'hello'

hello

In [2]:
print('hello')

hello

In [3]:
import random

In [24]:
random.randint(1,100)

59

In [7]:
range(5)

[0, 1, 2, 3, 4]

In [26]:
a = []# a is defined as an empty list
for m in range(50):
    a.append(random.randint(1,100))
    print a
print a

[83]
[83, 17]
[83, 17, 44]
[83, 17, 44, 37]
[83, 17, 44, 37, 44]
[83, 17, 44, 37, 44, 25]
[83, 17, 44, 37, 44, 25, 49]
[83, 17, 44, 37, 44, 25, 49, 24]
[83, 17, 44, 37, 44, 25, 49, 24, 17]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1, 32]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1, 32, 66]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1, 32, 66, 35]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1, 32, 66, 35, 79]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1, 32, 66, 35, 79, 95]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1, 32, 66, 35, 79, 95, 93]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1, 32, 66, 35, 79, 95, 93, 76]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1, 32, 66, 35, 79, 95, 93, 76, 65]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1, 32, 66, 35, 79, 95, 93, 76, 65, 27]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1, 32, 66, 35, 79, 95, 93, 76, 65, 27, 95]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1, 32, 66, 35, 79, 95, 93, 76, 65, 27, 95, 32]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1, 32, 66, 35, 79, 95, 93, 76, 65, 27, 95, 32, 73]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1, 32, 66, 35, 79, 95, 93, 76, 65, 27, 95, 32, 73, 32]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1, 32, 66, 35, 79, 95, 93, 76, 65, 27, 95, 32, 73, 32, 83]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1, 32, 66, 35, 79, 95, 93, 76, 65, 27, 95, 32, 73, 32, 83, 48]
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1, 32, 66, 35, 79, 95, 93, 76, 65, 27, 95, 32, 73, 32, 83, 48]

In [27]:
print len(a)

50

In [49]:
b = []# a is defined as an empty list
for m in range(500):
    b.append(random.randint(1,100))
    #print b
#print b

In [50]:
_b = dict((m, 1) for m in b)
print _b

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1, 11: 1, 12: 1, 13: 1, 14: 1, 15: 1, 16: 1, 17: 1, 18: 1, 19: 1, 20: 1, 22: 1, 23: 1, 24: 1, 25: 1, 26: 1, 27: 1, 28: 1, 29: 1, 30: 1, 31: 1, 32: 1, 33: 1, 34: 1, 35: 1, 36: 1, 37: 1, 38: 1, 39: 1, 40: 1, 41: 1, 42: 1, 43: 1, 44: 1, 45: 1, 46: 1, 47: 1, 48: 1, 49: 1, 50: 1, 51: 1, 52: 1, 53: 1, 54: 1, 55: 1, 56: 1, 57: 1, 58: 1, 59: 1, 60: 1, 61: 1, 62: 1, 63: 1, 64: 1, 65: 1, 66: 1, 67: 1, 68: 1, 69: 1, 70: 1, 71: 1, 72: 1, 73: 1, 74: 1, 75: 1, 76: 1, 77: 1, 78: 1, 79: 1, 80: 1, 81: 1, 82: 1, 83: 1, 84: 1, 85: 1, 86: 1, 87: 1, 88: 1, 89: 1, 90: 1, 91: 1, 92: 1, 93: 1, 94: 1, 95: 1, 96: 1, 97: 1, 98: 1, 99: 1, 100: 1}

In [52]:
%time

c = []
for num in a:
    if _b.get(num) == 1:
        c.append(num)
print c

CPU times: user 4 µs, sys: 4 µs, total: 8 µs
Wall time: 9.06 µs
[83, 17, 44, 37, 44, 25, 49, 24, 17, 43, 19, 53, 80, 20, 94, 63, 51, 91, 5, 68, 5, 88, 100, 82, 91, 24, 50, 80, 45, 55, 38, 12, 75, 52, 1, 32, 66, 35, 79, 95, 93, 76, 65, 27, 95, 32, 73, 32, 83, 48]

In [53]:
%time

c = []
for num in a:
    
    if num in b:
        c.append(num)
        #print num, 'found in b'
    #else:
        #print num, 'not found in b '
print sorted(c)

CPU times: user 5 µs, sys: 3 µs, total: 8 µs
Wall time: 9.06 µs
[1, 5, 5, 12, 17, 17, 19, 20, 24, 24, 25, 27, 32, 32, 32, 35, 37, 38, 43, 44, 44, 45, 48, 49, 50, 51, 52, 53, 55, 63, 65, 66, 68, 73, 75, 76, 79, 80, 80, 82, 83, 83, 88, 91, 91, 93, 94, 95, 95, 100]

In [2]:
a_str = 'abbbbbbbb'

len(a_str)

9

In [5]:
a_str = 'abcdefg'
a_str_reverse = a_str[::-1]
print(a_str_reverse)

gfedcba

In [18]:
print(a_str)
a_list = list(a_str)
#print(a_list)
m = ''.join(list(reversed(a_list)))
print(m)

abcdefg
gfedcba

In [25]:
def reverse(input):
    return reduce(lambda x,y : y+x, input)

reverse('abcd')

NameError: name 'reduce' is not defined

In [ ]:
get_middle('abcde') --> 'c'
get_middle('abcdef') --> 'cd'

In [40]:
def get_middle(a_str):
    
    if not len(a_str)%2 == 0:#this means a_str size is not even
        return a_str[int(len(a_str)/2)]
    
    else:
        start = int(len(a_str)/2)-1
        end = int((len(a_str)/2))+1
        return a_str[start:end]

'cd'

In [7]:
#a_str = 'abcde'
#len(a_str)
size = len('abcdefgghiiiijjhjhm')
print(size)

middle_position = size/2
print(middle_position)

real_position = int(middle_position)
print(real_position)

5
2.5
2

In [9]:
for index, letter in enumerate('abcdefgghiiiijjhjhm'):
    print('index: {}, letter {}'.format(index, letter))

index: 0, letter a
index: 1, letter b
index: 2, letter c
index: 3, letter d
index: 4, letter e
index: 5, letter f
index: 6, letter g
index: 7, letter g
index: 8, letter h
index: 9, letter i
index: 10, letter i
index: 11, letter i
index: 12, letter i
index: 13, letter j
index: 14, letter j
index: 15, letter h
index: 16, letter j
index: 17, letter h
index: 18, letter m

In [ ]:
_message = 'i am tom'
en_message = '123 7897 999'

In [14]:
from random import randint
encode_dic = {}

for letter in 'abcdefghijklmnopqrstuvwxyz':
    encode_dic[letter] = str(randint(0,9))+str(randint(0,9))+str(randint(0,9))

for k, v in encode_dic.items():
    print('{}:{}'.format(k,v))

a:006
b:731
c:008
d:156
e:415
f:076
g:704
h:461
i:954
j:304
k:427
l:432
m:421
n:019
o:512
p:574
q:263
r:313
s:129
t:031
u:179
v:654
w:765
x:204
y:492
z:025

In [16]:
_message = 'iamtom'
output_mess = ''
for lett in _message:
    output_mess += encode_dic[lett]
print(output_mess)

954006421031512421